.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;

  .questions-container {
    margin-bottom: 40px;
  
    .question-container {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .question {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-left: 10px;
      }

      .container {
        display: flex;
        align-items: center;
        .answers-container {
          display: flex;
          flex-wrap: wrap;
  
          .answer {
            width: 38%;
            padding: 15px 30px;
            border-radius: 7.5px;
            margin: 10px;
            background: rgba(255, 255, 255, 0.35);
          }
        }
        .answer-img {
          height: auto;
          width: 15%;
        }
      }
    }
  }
}