$buttonBG: #b3d3c2;

.quiz-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  .questions-container {
    margin-bottom: 40px;
  
    .question-container {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .question {
        font-size: 1.3em;
        font-weight: 600;
        line-height: 1.5em;
        margin-left: 10px;

        @include mobile {
          margin-left: 0
        }
      }

      .container {
        display: flex;
        align-items: center;

        @include mobile {
          flex-direction: column;
          justify-content: center;
        }
        .answers-container {
          display: flex;
          flex-wrap: wrap;

          @include mobile {
            justify-content: center;
          }
  
          .answer {
            width: 40%;
            min-width: 300px;
            padding: 15px 30px;
            border-radius: 7.5px;
            text-align: left;
            color: $main;
            margin: 10px;
            background: $buttonBG;
            transition: all .3s ease-in;

            &:after {
              content: "";
              position: absolute;
              height: 30px;
              width: 30px;
              right: 30px;
              top: 6px;
              background-color: $buttonBG;              
              transform: rotate(45deg);
              transition: all .3s ease-in;
              z-index: -1;
            }
            &:before {
              content: "";
              position: absolute;
              height: 30px;
              width: 30px;
              left: 30px;
              top: 6px;
              background-color: $buttonBG;              
              transform: rotate(45deg);
              transition: all .3s ease-in;
              z-index: -1;
            }

            @include mobile {
              margin: 10px 0;
            }

            &:hover {
              background: $main;
              color: #fff;

              &:after {
                top: -6px;
                background-color: $main;
              }

              &:before {
                top: -6px;
                background-color: $main;
              }
            }
          }
        }
        .answer-img {
          height: 150px;
          width: 150px;
          transition: all 0.2s ease-in;

          &:hover {
            animation: wiggle .92s cubic-bezier(.36,.07,.19,.97) both;
          }
        }

        .default {
          transform: scaleX(0);
          width: 0;
        }

        .active {
          transform: scaleX(100%);
        }
      
      }
      .excerpt {
        margin-left: 10px;
        color: $accent2;

        @include mobile {
          margin-left: 0
        }
      }
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}