.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .home-image {
    height: 300px;
    width: auto;
    margin: 30px 0;
  }

  .subtitle {
    font-size: 2em;
    font-weight: 600;
  }

  .caption {
    font-weight: 200;
    color: $accent2;
    font-size: small;

    @include mobile {
      display: none;
    }
  }

  .mobile-caption{
    display: none;

    @include mobile {
      display: inherit;
      font-weight: 200;
      color: $accent2;
      font-size: small;
    }
  }

  .home-link {
    border: none;
    padding-bottom: 0px;

    &:hover {
      background-image: none;
    }
  }
  .learn-more {
    margin: 40px 0;
  }
}