.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;

  .home-image {
    height: 300px;
    width: auto;
    margin: 30px 0;
  }

  .subtitle {
    font-size: 2em;
    font-weight: 600;
  }
  .learn-more {
    margin: 40px 0;
  }
}