.makeup-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .diagram {
    width: 550px;
    height: auto;
    margin: 40px 0;

    @include mobile {
      width: 100%;
    }

  }
}