@import 'breakpoints';
@import 'colors';

@import '../components/home/Home';
@import '../components/footer/Footer';

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  scroll-behavior: smooth;
  background: $base;
  color: $main;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;

  &.learn-more {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
    background: $light-purple;
    border: 2px solid $accent2;
    border-radius: 7.5px;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $accent;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $accent2, 0 0.625em 0 0 $gray;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $purple;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $accent2, 0 0.5em 0 0 $gray;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $purple;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $accent2, 0 0 $gray;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}